@font-face {
  font-family: Kanit;
  src: url(../fonts/Kanit-Thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: Kanit;
  src: url(../fonts/Kanit-ExtraLight.ttf);
  font-weight: 200;
}

@font-face {
  font-family: Kanit;
  src: url(../fonts/Kanit-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Kanit;
  src: url(../fonts/Kanit-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Kanit;
  src: url(../fonts/Kanit-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Kanit;
  src: url(../fonts/Kanit-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Kanit;
  src: url(../fonts/Kanit-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Kanit;
  src: url(../fonts/Kanit-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: Kanit;
  src: url(../fonts/Kanit-Black.ttf);
  font-weight: 900;
}